html{

    border-top : 5px solid #d9edf7;
}
body{
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-bottom: 0;
}

h3 a{
	font-weight: 700;
	text-decoration: none;
	color: black;
	padding-bottom: 0;
}
h3 a:hover{
	color: grey;
	transition: 0.2s all;
}

/* Search Block */
.search_url_block{
	padding: 15px;
	background-color:#d9edf7;
	color : #31708f;
	border-radius: 5px;
	margin-bottom: 10px;

}
form{
	margin: 0;
}
/* Gen URL block */

.gen_block{
	margin-top: 10px;
	padding: 15px;
	background-color:#dff0d8;
	color : #2b542c;
	border-radius: 5px;
	width: auto;
	font-size: 20px;

}
/* Error Disp */
.error_disp{
	padding: 15px;
	border-radius: 5px;
	background-color:#fcf8e3;
	color : #b84442;
	width: auto;
	font-size: 20px;
}
 
/* Table Display Block*/

.table_list{
	padding-top: 10px;
	margin-top: 40px;
	border-top : 2px solid lightgrey;
}
table{
	font-size: 20px;
	width:100%;
}
thead{
	font-weight: 700;
	padding: 2px;
}
tbody{
	font-weight: 400;
}
th{
	padding: 5px;

}
td{
	padding: 5px;
}
tr{
	padding: 5px;
}
tbody tr:hover{
	background-color:#f5f5f5;
	transition: .1s all ease-out;
}