html{

    border-top : 5px solid #d9edf7;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 50px;
}

h3{
	font-weight: 700;
}/*
.main_header{
	padding: 10px;
}
.shorty{
	margin-top: 20px;
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #33475c;
}
.shorty button{
	margin-top: 20px;
	background-color: #0073cf;
	border: 0;
}*/
/* Gen URL block */

.gen_block{
	padding: 15px;
	background-color:#d9edf7;
	color : #31708f;
	border-radius: 5px;
	width: auto;
	font-size: 20px;

}
/* Error Disp */
.error_disp{
	padding: 5px;
	background-color:#fcf8e3;
	color : #b84442;
}