body{

    font-family: 'Roboto', sans-serif;

}
.main_header{
	padding: 10px;
}
h3{
	border:0;
	margin: 0;
	padding: 0;
}
.shorty{
	margin-top: 20px;
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #33475c;
}
.shorty button{
	margin-top: 20px;
	background-color: #0073cf;
	border: 0;
}