<!DOCTYPE html>
<html>
<head>
	<title>Shorty</title>
	<link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
</head>
<body>
<div class="container">
		<div class="shorty">
			<form>
				<div class="center" class="row">
					<div class="one row">
						<input type="text" class="u-full-width" id="url_input" placeholder="Enter URL" ><br>
						<button class="button-primary">Generate</button>
					</div>
				</div>
			</form>
		</div>
</div>
</body>
</html>