<!DOCTYPE html>
<html>
<head>
	<title>Shorty</title>
	<script src="dist/clipboard.min.js">
		(function(){
    new Clipboard('#copy_target');
	})();
	</script>
	<link rel="stylesheet" type="text/css" href="../static/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet"> 
</head>
<body>
<div class="container  main_header">
	<h3 align="left" href="index.html">Shorty</h3>
	<p>A dead simple URL shortener service.</p>
</div>
	<!-- Search results  --> 
<div class=" container search_header">
	<h4>Search Results for : <b> {{ search_tag }} <b></h4>

<div class="table_list u-full-width">
<table>
	<thead>
		<tr>
			<th>Original URL</th>
			<th>Short URL</th>
			<th>Clicks</th>
		</tr>
	</thead>

	<tbody>
	{% for url in table %}
		<tr>
			<td>{{url[1]}}</td>
			<td><a href="{{ 'http://localhost:5454/'+url[2]}}">{{ 'http://localhost:5454/'+url[2]}}</a></td>
			<td style="text-align: center;">{{url[3]}}</td>
<!-- 			<td style="text-align: center;"> + </td>
 -->		</tr>
	{% endfor %}		
	</tbody>
</table>
</div>
</div>	
</body>
</html>